# все что не относится к сборке и может быть сгенерировано клиентом
asm/
blueprints/
crash-reports/
dumps/
fonts/
journeymap/
logs/
resourcepacks/
saves/
shaderpacks/
/GregTech.cfg
/GregTech.lang
/minetweaker.log
/options.txt
/optionsof.txt
/settings.rtg
/TimeUsage.txt
/usercache.json
/usernamecache.json
/update.bat
/nativelog.txt
/mods/1.7.10/
/mods/carpentersblocks/
/mods/ic2/
/mods/railcraft/
/mods/fastcraft*
/mods/IC2NeiPlugin*
/mods/InGameInfoXML*
/mods/journeymap*
/mods/Neat*
/mods/Opis*
/config/UniqueNames.txt
/config/fastcraft.ini
/config/IC2.ini
/config/igi.xml
/config/InGameInfoXML.cfg
/config/InvTweaks.cfg
/config/InvTweaksRules.txt
/config/InvTweaksTree.txt
/config/journeymap_ModInfo.cfg
/config/MapWriter.cfg
/config/MapWriterBlockColourOverrides.txt
/config/MapWriterBlockColours.txt
/config/Neat.cfg
/config/neiintegration.cfg
/config/Opis.cfg
/config/splash.properties
/config/Waila.cfg
/config/WailaHarvestability.cfg
/config/wailaplugins.cfg
/config/AppliedEnergistics2/recipes/
/config/AppliedEnergistics2/CustomRecipes.cfg
/config/enderio/mobTypes.txt
/config/NEI/client.cfg
/config/tabbychat/